PORT=4000
AUTH_SERVICE_URL=http://localhost:4001
PROFILE_SERVICE_URL=http://localhost:4002
JOB_SERVICE_URL=http://localhost:4003
APPLICATION_SERVICE_URL=http://localhost:4004
NOTIFICATION_SERVICE_URL=http://localhost:4005
CLIENT_URL=http://localhost:5173
