PORT=4004
MONGO_URI=mongodb://127.0.0.1:27017/medihire_applications
JWT_SECRET=supersecretkey
CLIENT_URL=http://localhost:5173
JOB_SERVICE_URL=http://localhost:4003/api/jobs
NOTIFICATION_SERVICE_URL=http://localhost:4005/api/notifications
